#user-home-index {

    .application:nth-child(n+2) {
        margin-top: 10px;
    }

}

#user-apply-create {

    .multi-checkbox {
        margin-top: 5px;
    }

}

// Share for all user.apply page
.user-apply {

    .page-title {
        font-size: 24px;
    }

}
